.fri {
  display: inline-block;
}

.fri-plus {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -422px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.fri-minus {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -393px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.fri-phone {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -182px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 22px;
}

.fri-marker {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -147px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 18px;
}

.fri-clock {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -78px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 29px;
  width: 29px;
}

.fri-check {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 16px;
}

.fri-warning {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -451px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 32px;
}

.fri-keys-bg {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -209px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 179px;
  width: 179px;
}

strong {
  font-family: "GothamPro-Medium", serif;
}

[class*="--text-white"] {
  color: #fff;
}

[class*="--text-black"] {
  color: #000;
}

[class*="--text-red"] {
  color: #ce2b37;
}

[class*="--text-green"] {
  color: #03b045;
}

[class*="--text-yellow"] {
  color: #f8e123;
}

[class*="--text-orange"] {
  color: #ff6816;
}

[class*="--text-orangeLight"] {
  color: #ea7d42;
}

[class*="--text-cyan"] {
  color: #15c0d7;
}

[class*="--text-blue"] {
  color: #0a8ee1;
}

[class*="--text-upper"] {
  text-transform: uppercase;
}

[class*="--text-large"] {
  font-size: 38px;
}

[class*="--text-small"] {
  font-size: 13px;
  line-height: 1.2;
}

[class*="--block"] {
  display: block;
}

[class*="--bg-green"] {
  background: #03b045;
}

[class*="--bg-blue"] {
  background: #0a8ee1;
}

[class*="--text-cap"] {
  text-transform: capitalize !important;
}

[class*="--text-normal"] {
  text-transform: none !important;
}

.uk-container {
  max-width: 1078px;
}

body {
  font-family: "GothamPro", serif;
  font-size: 16px;
  color: #3e3e3e;
}

.uk-button {
  font-family: "GothamPro-Bold", serif;
  text-transform: uppercase;
  padding: 14px 24px 13px 23px;
  line-height: 1.3;
  font-size: 13.54px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: normal;
}

.uk-button-primary {
  background-color: #ff6816;
}
.uk-button-primary:visited {
  background-color: #ff6816;
}
.uk-button-primary:hover, .uk-button-primary:active {
  background: #ea7d42;
}

.uk-navbar {
  background: transparent;
}

.uk-navbar-brand {
  padding: 0;
  height: auto;
}
.uk-navbar-brand.logo {
  margin-left: 1px;
}

.uk-navbar-content {
  text-transform: uppercase;
  font-family: "GothamPro-Medium", serif;
  font-size: 13px;
  max-width: 350px;
  line-height: 1.2;
  height: auto;
  letter-spacing: 0.2px;
  margin: 9px 0 0 9px;
}

.uk-navbar-flip {
  padding: 0;
  margin: 0;
}
.uk-navbar-flip .uk-button {
  margin: 1px 2px 0 0;
}

.uk-slidenav-position .uk-slidenav {
  display: inline-block !important;
  top: 60px;
}

.uk-slidenav-previous {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 40px;
  left: 0 !important;
  display: inline-block;
}
.uk-slidenav-previous::before {
  content: "";
}

.uk-slidenav-next {
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -30px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 39px;
  right: 0 !important;
}
.uk-slidenav-next::before {
  content: "";
}

.uk-slideset {
  margin-top: 40px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
.uk-slideset > li {
  box-shadow: 0px 6px 15px 0px rgba(1, 1, 1, 0.7);
  padding: 80px 120px 80px 120px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background: #fff;
  max-width: 100%;
}
.uk-slideset > li > p {
  margin-bottom: 50px;
}

.uk-modal-dialog {
  padding: 80px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  background: transparent;
}

.uk-modal-dialog .uk-container {
  position: relative;
  padding: 0;
}

.uk-close {
  opacity: 1;
  background-image: url('../images/icons-sb1bbe950e7.png');
  background-position: 0 -112px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.uk-close:after {
  display: none;
}

.uk-modal-close {
  position: absolute;
  right: -30px;
  top: 0;
}

.site-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-width: 320px;
}

.square {
  width: 9px;
  height: 18px;
  display: inline-block;
}

.square-green {
  background: #03b045;
}

.square-white {
  background: #fff;
}

.square-red {
  background: #ce2b37;
}

.main-header {
  background-color: #fff;
  padding: 30px 0 28px 0;
}

.inline-boxes {
  font-size: 0;
}
.inline-boxes > div {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.section {
  padding: 80px 0;
}
.section#products {
  background: #fbfbfb;
}
.section__title {
  color: #3e3e3e;
  font-size: 33px;
  font-family: "Affect-Bold", serif;
  text-transform: uppercase;
  line-height: 1.2;
}
.section__text {
  line-height: 1.35;
  font-size: 16px;
}
.section__text .flag {
  display: inline-block;
  margin-left: 5px;
  margin-top: -5px;
}
.section__text_title {
  font-size: 18px;
  font-family: "GothamPro-Medium", serif;
  text-transform: uppercase;
}
.section__imgs {
  font-size: 0;
}
.section__imgs_single {
  font-size: 16px;
  display: inline-block;
  max-width: 181px;
  width: calc(50% - 10px);
  margin: 0 5px 10px 0;
}
.section__imgs_single:nth-child(2n) {
  margin: 0 0 10px 5px;
}
.section__right_imgs {
  font-size: 0;
}
.section__right_imgs > img {
  font-size: 16px;
  max-width: calc(50% - 20px);
  margin: 10px 10px 10px 0;
  width: 100%;
  display: inline-block;
}

.large-title {
  font-size: 33px;
  font-family: "Affect-Bold", serif;
  line-height: 1.3;
}

.ws-wrap {
  padding: 0;
  background: #eeeef0;
  width: 100%;
  position: relative;
}

.ws {
  max-width: 1380px;
  margin: 0 auto;
  padding: 56px 0 0 0;
  background-image: url("../images/ws-bg.jpg");
  background-size: cover;
  background-position: 0 bottom;
}
.ws .large-title > span {
  display: block;
  line-height: 1.2;
  margin-bottom: 1px;
}
.ws__articles {
  display: block;
  font-size: 0;
  margin: 68px 0 0 0;
}
.ws__article {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  margin: 0 40px 0 0;
}
.ws__article > p {
  font-size: 15px;
  font-family: "GothamPro-Medium", serif;
  margin-top: 28px;
  line-height: 1.2;
}
.ws__article > img {
  margin: 0 0 3px 5px;
}
.ws__article:nth-child(2) {
  margin: 0 32px 0 0;
}
.ws__article:nth-child(2) > img {
  margin: 3px 0 3px 1px;
}
.ws__article:nth-child(3) {
  margin: 0;
}
.ws__article:nth-child(3) > img {
  margin: 16px 0 0 1px;
}
.ws__child-attract {
  width: 70.8%;
  background: #0a8ee1;
  margin-top: 90px;
  position: relative;
  text-align: right;
  padding: 30px 28px 32px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ws__child-attract::before {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 9000px;
  background: #0a8ee1;
  right: 100%;
  z-index: 1;
}
.ws__child-attract_img {
  position: absolute;
  top: -71px;
  left: -301px;
  z-index: 2;
}
.ws__child-attract_info {
  width: 487px;
  display: inline-block;
  text-align: left;
}
.ws__child-attract_info > h2 {
  font-size: 28px;
  color: #fff;
  font-family: "Affect-Bold", serif;
  font-weight: normal;
  text-transform: uppercase;
}
.ws__child-attract_info > p {
  color: #fff;
  font-family: "GothamPro-Light", serif;
  line-height: 1.4;
  margin-top: 17px;
  letter-spacing: 0.07px;
}
.ws__child-attract .uk-button {
  background-image: -moz-linear-gradient(90deg, #ff6816 0%, #ff9916 100%);
  background-image: -webkit-linear-gradient(90deg, #ff6816 0%, #ff9916 100%);
  background-image: -ms-linear-gradient(90deg, #ff6816 0%, #ff9916 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  margin: 3px 0 0 -7px;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.25px;
}
.ws__child-attract .uk-button > span {
  display: block;
  padding: 15px 20px 13px;
  border-radius: 3px;
  background-image: -moz-linear-gradient(90deg, #ffab16 -80%, #ff7316 100%);
  background-image: -webkit-linear-gradient(90deg, #ffab16 -80%, #ff7316 100%);
  background-image: -ms-linear-gradient(90deg, #ffab16 -80%, #ff7316 100%);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
}
.ws__child-attract .uk-button:hover > span, .ws__child-attract .uk-button:active > span {
  background-image: -moz-linear-gradient(90deg, #ffab16 10%, #ff7316 100%);
  background-image: -webkit-linear-gradient(90deg, #ffab16 10%, #ff7316 100%);
  background-image: -ms-linear-gradient(90deg, #ffab16 10%, #ff7316 100%);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
}

.wcs-wrap {
  padding: 50px 0 60px;
  background: url("../images/wcs-bg.jpg");
  background-size: cover;
  background-position: 100% 100%;
  position: relative;
}
.wcs-wrap .absolute-img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 200px;
}

.wc-wrap {
  width: 100%;
  position: relative;
  padding: 0;
}

.wc {
  padding: 80px 0 17px;
  max-width: 1380px;
  margin: 0 auto;
  background-image: url("../images/wc-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-size: 100% 100%;
}
.wc .section__title {
  margin-bottom: 45px;
}
.wc .section__text + .section__text {
  margin-top: 30px;
}
.wc__infos {
  font-size: 0;
}
.wc__infos > div {
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
.wc__infos > div:first-child {
  width: calc(60% - 30px);
  margin-right: 30px;
  padding: 40px 32px;
  background: #fff;
}
.wc__infos > div:nth-child(2) {
  width: 40%;
  margin-top: 52px;
}
.wc__infos > div p {
  overflow: hidden;
}
.wc__infos > div p i {
  float: left;
}
.wc__infos > div p span {
  float: right;
  width: calc(100% - 50px);
}

.wor__img {
  margin-left: 30px;
}
.wor__boxes > div {
  margin: 20px 10px 0 0;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 45%;
}
.wor__boxes > div > p {
  margin: 0;
  font-size: 14px;
  color: #000;
}
.wor__boxes > div > p strong {
  display: block;
  margin-top: 15px;
  font-family: "GothamPro-Bold", serif;
  font-size: 30px;
}
.wor__boxes > div > p strong span {
  font-size: 12px;
  text-transform: uppercase;
}
.wor__boxes > div:first-child {
  border: 1px solid #ce2b37;
}
.wor__boxes > div:last-child {
  border: 1px solid #f8e123;
  margin: 20px 0 0 0;
}
.wor__circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  margin: 30px 0;
}
.wor__circle > p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.wor__circle > p > span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.wor__circle > p > strong {
  margin-top: 10px;
  font-family: "GothamPro-Bold", serif;
  font-size: 30px;
  display: block;
}
.wor__circle > p > strong span {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "GothamPro", serif;
}
.wor__circle:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}
.wor__circle:first-child {
  border: 2px solid #0a8ee1;
  color: #0a8ee1;
}
.wor__circle:last-child {
  border: 2px solid #03b045;
  color: #03b045;
}

.wcp .inline-boxes {
  padding: 0;
}
.wcp .inline-boxes .section__text_title {
  float: left;
  margin: 50px 0 0 15px;
  width: calc(100% - 157px);
  text-align: left;
}
.wcp .inline-boxes > div {
  width: 50%;
  padding: 76px 45px 76px 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.wcp .inline-boxes > div .inner {
  max-width: 280px;
  float: right;
}
.wcp .inline-boxes > div img {
  float: left;
}
.wcp .inline-boxes > div small {
  padding-left: 44px;
  display: block;
}
.wcp .inline-boxes > div p {
  overflow: hidden;
  margin: 0 0 20px 0;
}
.wcp .inline-boxes > div p span {
  float: left;
  width: calc(100% - 44px);
}
.wcp .inline-boxes > div p .fri {
  margin-right: 20px;
  float: left;
}

.wr {
  margin-bottom: -180px;
}
.wr .uk-slideset {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wss-wrap {
  padding: 190px 0 75px 0;
  background: url("../images/full-bg-blue.jpg");
  background-size: cover;
}

.wss {
  font-size: 0;
}
.wss .inline-boxes > div {
  width: 220px;
  color: #fff;
}
.wss .inline-boxes > div small {
  font-size: 20px;
  display: block;
}
.wss .inline-boxes > div p {
  font-size: 130px;
  font-family: "GothamPro-Light", serif;
  line-height: 130px;
}
.wss .inline-boxes > div span {
  font-family: "GothamPro-Light", serif;
  font-size: 28px;
  display: block;
}

.wg-wrap {
  padding: 120px 0 50px;
  background: url("../images/wg-bg.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.wk-wrap {
  padding: 60px 0 30px;
  background: url("../images/wk-bg.jpg");
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.attention-block {
  padding: 20px 0;
  border-top: 1px solid #d0d9d8;
  border-bottom: 1px solid #d0d9d8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 13px;
  margin-top: 50px;
}
.attention-block strong {
  font-family: "GothamPro-Bold";
  color: #000;
  margin: 0;
}
.attention-block p {
  margin: 0;
}

.choose-one-article {
  max-width: 295px;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 45px 3px 70px 3px;
}
.choose-one-article::before {
  content: "";
  z-index: 2;
  width: 100%;
  height: 15px;
  position: absolute;
  background: #fbfbfb;
  left: 0;
}
.choose-one-article__inner {
  margin-top: 10px;
  padding: 17px 17px 50px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px -5px 5px 0px rgba(1, 1, 1, 0.33);
  z-index: 1;
}
.choose-one-article__inner img {
  margin: 20px 0;
}
.choose-one-article__title {
  text-transform: uppercase;
  font-family: "GothamPro-Medium", serif;
  font-size: 18px;
  margin-bottom: 28px;
}
.choose-one-article__title span {
  display: block;
  font-size: 14px;
}
.choose-one-article__title_footer {
  color: #3e3e3e;
  font-size: 14px;
  text-decoration: underline;
  font-family: "GothamPro-Medium", serif;
  width: 65%;
  display: inline-block;
}
.choose-one-article__price {
  font-size: 44px;
  color: #03b045;
  margin: 30px 0;
}
.choose-one-article__price span {
  font-size: 14px;
  text-transform: uppercase;
}
.choose-one-article .ca-triangle-wrap {
  position: relative;
  width: 100%;
  height: 75px;
  overflow: hidden;
  margin-top: -5px;
}
.choose-one-article .ca-triangle {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 5px;
  left: 50%;
  box-sizing: border-box;
  border-color: transparent transparent #fff #fff;
  transform-origin: center center;
  transform: translate3d(-50%, 0, 0) skewY(-26.5deg) skewX(45deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.choose-one-article .ca-triangle::after {
  display: block;
  margin-bottom: 100%;
  content: "";
}
.choose-one-article .uk-button {
  max-width: 170px;
  width: 100%;
  margin-bottom: 20px;
}
.choose-one-article .uk-list li {
  font-size: 12px;
}

.b_footer {
  background: #fbfbfb;
}
.b_footer__top {
  position: relative;
  z-index: 2;
  margin-bottom: -40px;
}
.b_footer__top .uk-container {
  font-size: 0;
}
.b_footer__bottom {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0;
  background: #ea7d42;
  position: relative;
  z-index: 1;
}
.b_footer__bottom a {
  text-decoration: underline;
}
.b_footer__bottom a:hover {
  color: #fff;
}
.b_footer__infos {
  width: 50%;
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 70px;
  text-align: right;
}
.b_footer__infos a {
  margin-left: 20px;
}
.b_footer__infos .uk-button {
  border: 2px solid #03b045;
  background: transparent;
  color: #03b045;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.b_footer__infos .uk-button:hover {
  color: #fff;
  background: #03b045;
}
.b_footer__infos_phone {
  color: #000;
  text-decoration: none;
  font-size: 22px;
}
.b_footer__infos_phone:hover {
  text-decoration: none;
}
.b_footer__circles {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  font-size: 0;
}
.b_footer__circles_circle {
  font-size: 0;
  border-radius: 50%;
  text-align: center;
  width: 230px;
  height: 230px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.b_footer__circles_circle:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.b_footer__circles_circle > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.b_footer__circles_circle > span strong {
  font-family: "GothamPro-Bold", serif;
}
.b_footer__circles_circle:first-child {
  margin-right: -30px;
  z-index: 1;
}

.b_akcyi {
  background: #ff6816;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.b_akcyi.active {
  max-height: 300px;
}
.b_akcyi > div {
  margin: 20px auto;
}
.b_akcyi_content {
  font-size: 16px;
  width: calc(100% - 234px);
  display: inline-block;
}
.b_akcyi_button {
  width: 204px;
  margin-left: 30px;
  display: inline-block;
  font-size: 16px;
}
.b_akcyi .uk-button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  width: 200px;
  text-align: center;
}
.b_akcyi .uk-button:hover {
  background: #fff;
  color: #ff6816;
}
@media screen and (max-width: 767px) {
  .b_akcyi p {
    display: none;
  }
  .b_akcyi .b_akcyi_button {
    margin: 0;
  }
  .b_akcyi .uk-button {
    padding: 10px 15px;
  }
  .b_akcyi > div {
    margin: 10px 0;
  }
}

.b_mForm {
  box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.33);
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.b_mForm__title {
  font-size: 21px;
  color: #000;
  font-family: "GothamPro", serif;
  text-align: center;
}
.b_mForm__title small {
  font-size: 16px;
  display: block;
}
.b_mForm__info {
  font-size: 12px;
  text-align: center;
  color: #000;
  font-family: "GothamPro", serif;
}
.b_mForm .uk-form-row {
  text-align: center;
}
.b_mForm .uk-form-row input {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid #d6d6d6;
  height: 53px;
  color: #5d5d5d;
  font-family: "GothamPro-Light", serif;
  font-size: 14px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b_mForm .uk-form-row button[type=submit] {
  width: 100%;
  padding: 0;
  line-height: 53px;
  text-align: center;
}
.b_mForm .price-calc {
  margin-top: 20px;
}
.b_mForm .price-calc i {
  font-style: normal;
}
.b_mForm .price-calc input {
  display: inline-block;
  width: 30px;
  text-align: right;
  height: 30px;
  padding: 0 5px;
  margin-top: -5px;
}
.b_mForm .price-calc .total strong {
  font-size: 33px;
  font-family: "GothamPro-Medium", serif;
  color: #ff6816;
  padding: 0;
}
.b_mForm .price-calc .total span {
  color: #ff6816;
}
.b_mForm .price-calc p {
  color: #000;
  font-family: "GothamPro-Light", serif;
  font-size: 22px;
}
.b_mForm .price-calc p strong {
  font-size: 26px;
  font-weight: normal;
  font-family: "GothamPro", serif;
  display: inline-block;
}
.b_mForm .price-calc p span {
  font-family: "GothamPro", serif;
  font-size: 14px;
  text-transform: uppercase;
}

.b_mInfo {
  box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.33);
  padding: 30px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #fff;
}
.b_mInfo__title {
  font-size: 21px;
  color: #000;
  font-family: "GothamPro", serif;
  border-bottom: 1px solid #d6d6d6;
  padding: 0 30px 20px 79px;
}
.b_mInfo__content {
  padding: 20px 30px;
}
.b_mInfo__content .fri-phone {
  margin-left: 3.5px;
}
.b_mInfo__content .fri-marker {
  margin-left: 5.5px;
}
.b_mInfo__content_phone {
  font-family: "GothamPro", serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
}
.b_mInfo__content_phone i {
  float: left;
}
.b_mInfo__content_phone span {
  float: right;
  width: calc(100% - 49px);
}
.b_mInfo__content_text {
  margin-top: 35px;
  font-family: "GothamPro", serif;
  font-size: 14px;
}
.b_mInfo__content_text i {
  float: left;
}
.b_mInfo__content_text span {
  float: right;
  width: calc(100% - 49px);
}
.b_mInfo__content_text strong {
  font-family: "GothamPro-Bold", serif;
  display: block;
}
.b_mInfo__footer {
  padding: 20px 30px 10px 79px;
  background: #eaeaea;
  position: relative;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b_mInfo__footer p {
  font-size: 12px;
  color: #000;
}
.b_mInfo__switcher {
  border-bottom: 1px solid #d6d6d6;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b_mInfo__switcher_content {
  overflow: hidden;
}
.b_mInfo__switcher_content img {
  float: left;
}
.b_mInfo__switcher_content > div {
  float: right;
  width: calc(100% - 157px);
}
.b_mInfo__switcher_btns {
  text-align: right;
}
.b_mInfo__switcher_btns i {
  margin-top: -4px;
}
.b_mInfo__switcher_btns .uk-button {
  background: #d3d3d3;
}
.b_mInfo__switcher_btns .uk-button:nth-child(2).active {
  background: #ce2b37;
}
.b_mInfo__switcher_btns .uk-button.active {
  background: #03b045;
}
.b_mInfo__switcher:last-child {
  border-bottom: none;
}
.b_mInfo_delivery {
  box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.33);
  text-align: center;
  background: #fff;
}
.b_mInfo_delivery.bg-blue {
  background: #0a8ee1;
}
.b_mInfo_delivery > img {
  margin: -50px auto 0;
  display: block;
}
.b_mInfo_delivery__price {
  font-family: "GothamPro-Medium", serif;
  font-size: 49px;
}
.b_mInfo_delivery__price span {
  font-size: 20px;
  text-transform: uppercase;
}
.b_mInfo_delivery__text {
  padding: 0 15px;
}
.b_mInfo_delivery__address {
  padding: 0 15px;
}
.b_mInfo_delivery__title {
  font-family: "GothamPro-Medium", serif;
  font-size: 26px;
  margin: 20px 0 40px;
}
.b_mInfo_delivery__title small {
  display: block;
  font-size: 16px;
}
.b_mInfo_delivery_footer {
  list-style: none;
  font-size: 0;
  margin-top: 60px;
  padding: 0;
}
.b_mInfo_delivery_footer li {
  font-size: 14px;
  font-family: "GothamPro-Medium", serif;
  display: inline-block;
}
.b_mInfo_delivery_footer li a {
  color: #ff6816;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 1px dashed;
}
.b_mInfo_delivery_footer li.uk-active {
  display: none;
}

.economy-b {
  color: #fff;
}
.economy-b:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.economy-b p {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  font-family: "GothamPro-Bold", serif;
  margin: 0;
  padding: 10px 0 0 0;
}
.economy-b p strong {
  display: block;
  font-size: 30px;
  margin: 20px 0 5px 0;
}
.economy-b p strong span {
  font-size: 12px;
}

@media only screen and (max-width: 1074px) {
  .ws__child-attract {
    width: 100%;
  }
  .ws__child-attract_info {
    width: 100%;
  }
  .ws__child-attract_info::after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 25px;
    background: #0a8ee1;
    left: 100%;
    z-index: 1;
  }
  .ws__child-attract_info::after {
    width: 25px;
  }
  .ws__child-attract_info .uk-button {
    margin-left: 0;
  }

  .ws__child-attract_img {
    display: none;
  }
}
@media only screen and (max-width: 959px) {
  .section__text_mobBoxed {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .attention-block {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wc {
    background-image: none;
    background: #fff;
  }
  .wc__infos > div {
    display: block;
    width: 100% !important;
    margin: 40px 0 0 0 !important;
    padding: 0 !important;
  }

  .b_footer__infos {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .b_footer__circles {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 856px) {
  .wor__img {
    display: none;
  }
  .wor__circle {
    margin: 0 0 30px 0;
    display: inline-block;
  }
}
@media only screen and (max-width: 781px) {
  .ws__articles {
    text-align: center;
  }
  .ws__article {
    margin: 0 10px 40px 10px !important;
  }

  .large-title {
    text-align: center;
  }

  .uk-navbar-brand.logo {
    text-align: center;
    width: 100%;
  }

  .uk-navbar-content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }

  .wcp .inline-boxes > div {
    width: 100%;
    padding: 15px 30px;
  }
  .wcp .inline-boxes > div .inner {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }

  .uk-slideset > li {
    padding: 15px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .uk-modal-close {
    position: absolute;
    right: 0;
    z-index: 2;
    top: 0;
  }

  .section.wor {
    padding: 20px 0;
  }
  .section.wcp {
    padding: 0;
  }
  .section.wr {
    padding: 20px 0;
  }

  .wc {
    padding: 20px 0;
  }

  .wor__circles {
    text-align: center;
  }
  .wor__circle {
    margin: 10px 40px;
  }
  .wor__boxes > div {
    width: calc(50% - 10px);
  }

  .wss {
    font-size: 0;
  }

  .inline-boxes > div {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .section__imgs {
    font-size: 0;
  }
  .section__imgs_single {
    width: calc(25% - 30px);
  }
  .section__imgs_single:nth-child(2n) {
    margin: 0 5px 10px 0;
  }

  .b_footer__bottom p, .b_footer__bottom a {
    text-align: left;
  }

  .b_akcyi_content {
    display: block;
    width: 100%;
    text-align: center;
  }
  .b_akcyi_button {
    text-align: center;
    margin: 20px 0;
    display: block;
    width: 100%;
  }

  .uk-modal-dialog {
    padding: 45px 0;
  }

  .b_mForm {
    padding: 20px 10px;
  }

  .b_mInfo_delivery > img {
    margin: 20px auto 0;
    display: block;
  }

  .wcs-wrap .absolute-img {
    display: none;
  }

  .economy-b {
    display: none;
  }

  .choose-one-article {
    padding: 45px 3px 0 3px;
  }

  .uk-slideset-nav {
    margin-top: 20px;
  }
  .uk-slideset-nav .uk-dotnav {
    margin-top: 10px;
  }

  .uk-slidenav-position .uk-slidenav {
    display: none !important;
  }

  .b_mInfo__switcher_content > img {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .b_mInfo__switcher_content > div {
    float: none;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 501px) {
  .b_footer__infos {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .b_footer__infos a {
    margin: 0 0 20px 0;
    display: inline-block;
  }
  .b_footer__circles {
    width: 100%;
    text-align: center;
  }
  .b_footer__circles_circle {
    display: block;
    margin: 20px auto !important;
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .section__imgs {
    font-size: 0;
  }
  .section__imgs_single {
    width: calc(50% - 10px);
  }
  .section__imgs_single:nth-child(2n) {
    margin: 0 5px 10px 0;
  }

  .ws__article {
    margin: 0 0 40px 0 !important;
  }

  .wcp .inline-boxes > div {
    width: 100%;
    padding: 15px;
  }
  .wcp .inline-boxes .section__text_title {
    float: none;
    display: block;
    padding: 40px 0 20px 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  .wcp .inline-boxes img {
    float: none;
    display: block;
  }

  .uk-slideset > li {
    padding: 15px;
  }
}
.fs12 {
  text-align: left;
  font-size: 12px;
}

.mb15 {
  margin-bottom: 10px;
}

.mb10-li > li {
  margin-bottom: 10px;
}
