{% extends "layouts/app.twig" %}

{% block content %}
<section class="section ws-wrap">
    <div class="ws">
        <div class="uk-container uk-container-center">
            <h2 class="large-title"><span class="--text-cyan--text-upper--text-large">Kampfer Helena (wall)</span> – все, что нужно для хорошего <br>спортивного развития вашего ребенка</h2>
            <div class="ws__articles">
                <article class="ws__article">
                    <img src="images/wai1.png" alt="">
                    <p>Компактный турник <br> с шириной хвата 95 см</p>
                </article>
                <article class="ws__article">
                    <img src="images/wai2.png" alt="">
                    <p>Шведская стенка <br> из массива сосны</p>
                </article>
                <article class="ws__article">
                    <img src="images/wai3.png" alt="">
                    <p>Прочная трапеция</p>
                </article>
            </div>
            <div class="ws__child-attract">
                <img src="images/ws-child.png" alt="" class="ws__child-attract_img">
                <div class="ws__child-attract_info">
                    <h2>Детей не оторвать</h2>
                    <p>Комплекс позволяет выполнить множество упражнений, на развитие мышц спины, пресса, рук и ног, на развитие ловкости и гибкости. Дети с удовольствием занимаются на комплексе Helena (wall) часами.</p>
                    <a href="#" class="uk-button"><span>Купить спортивный комплекс</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section wc-wrap">
    <div class="wc">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-small-1-1 uk-width-medium-3-4">
                    <h2 class="section__title">Занимайтесь вместе с ребенком – <br>комплекс выдерживает до 120 кг</h2>
                    <p class="section__text">Комплекс Kampfer Helena отличается предельной надежностью. Ее обеспечивает
                        <br>6 креплений к стене (у обычных комплексах их всего лишь 4). Толщина
                        <br>деревянных стоек – 10 см. Турник снабжен 2 дополнительными стальными
                        <br>держателями.</p>
                    <p class="section__text">Поэтому комплекс спосорбен выдержать нагрузку до 120 кг. Вы можете показать
                        <br>ребенку упражнения, не опасаясь, что конструкция вас не выдержит. Можете
                        <br>заниматься вместе с ребенком!</p>
                    <div class="wc__infos">
                        <div>
                            <p class="--text-black"><strong>Можете заниматься на тунике <br>и шведской стенке Kampfer Helena вместе <br>с ребенком. Можете заниматься сами!</strong></p>
                        </div>
                        <div>
                            <p class="--text-small">Единственное ограничение <br> – комплекс нельзя крепить к стенам из гипрока.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}