{% extends "layouts/app.twig" %}

{% block content %}
<section class="section ws-wrap">
    <div class="ws">
        <div class="uk-container uk-container-center">
            <h2 class="large-title"><span class="--text-cyan--text-upper--text-large">Kampfer Helena (wall)</span> – все, что нужно для хорошего <br>спортивного развития вашего ребенка</h2>
            <div class="ws__articles">
                <article class="ws__article">
                    <img src="images/wai1.png" alt="">
                    <p>Компактный турник <br> с шириной хвата 95 см</p>
                </article>
                <article class="ws__article">
                    <img src="images/wai2.png" alt="">
                    <p>Шведская стенка <br> из массива сосны</p>
                </article>
                <article class="ws__article">
                    <img src="images/wai3.png" alt="">
                    <p>Прочная трапеция</p>
                </article>
            </div>
            <div class="ws__child-attract">
                <img src="images/ws-child.png" alt="" class="ws__child-attract_img">
                <div class="ws__child-attract_info">
                    <h2>Детей не оторвать</h2>
                    <p>Комплекс позволяет выполнить множество упражнений, на развитие мышц спины, пресса, рук и ног, на развитие ловкости и гибкости. Дети с удовольствием занимаются на комплексе Helena (wall) часами.</p>
                    <a href="#" class="uk-button"><span>Купить спортивный комплекс</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section wc-wrap">
    <div class="wc">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-small-1-1 uk-width-medium-3-4">
                    <h2 class="section__title">Занимайтесь вместе с ребенком – <br>комплекс выдерживает до 120 кг</h2>
                    <p class="section__text">Комплекс Kampfer Helena отличается предельной надежностью. Ее обеспечивает
                        <br>6 креплений к стене (у обычных комплексах их всего лишь 4). Толщина
                        <br>деревянных стоек – 10 см. Турник снабжен 2 дополнительными стальными
                        <br>держателями.</p>
                    <p class="section__text">Поэтому комплекс спосорбен выдержать нагрузку до 120 кг. Вы можете показать
                        <br>ребенку упражнения, не опасаясь, что конструкция вас не выдержит. Можете
                        <br>заниматься вместе с ребенком!</p>
                    <div class="wc__infos">
                        <div>
                            <p class="--text-black"><strong>Можете заниматься на тунике <br>и шведской стенке Kampfer Helena вместе <br>с ребенком. Можете заниматься сами!</strong></p>
                        </div>
                        <div>
                            <p class="--text-small">Единственное ограничение <br> – комплекс нельзя крепить к стенам из гипрока.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section wcs-wrap">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse" data-grid-margin="">
            <div class="uk-width-small-1-1 uk-width-medium-4-5">
                <h2 class="section__title">ребенку обеспечена полная безопасность</h2>
                <p class="section__text">Главным фактором безопасности детского спортивного <br> комплекса является его <span class="--text-orange">предельно надежный способ <br> крепления.</span></p>
                <p class="section__text">Дополнительными факторами является прочные, <br> износостойкие тросы трапеции и канат, стальные
                    <br> держатели турника, а также скругленные края деталей.</p>
            </div>
            <div class="uk-width-small-1-1 uk-width-medium-1-5"></div>
        </div>
    </div>
</section>

<section class="section">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-large" data-grid-margin="">
            <div class="uk-width-small-1-1 uk-width-medium-2-5"></div>
            <div class="uk-width-small-1-1 uk-width-medium-3-5">
                <h2 class="section__title"><span class="--text-blue">Использованы натуральные <br>материалы + специальное <br>защитное покрытия</span></h2>
                <p class="section__text">Конструкция спортивного комплекса Kampfer Helena (Wall) выполнена полностью из натурального дерева. Стойки – из массива сосны ступени – из массива березы.</p>
                <p class="section__text">Сохранность внешнего вида комплекса, надежную защиту деревянных элементов от истирания обеспечивает специальное покрытие Coatings Italia S.p.a. (Италия).</p>
            </div>
        </div>
    </div>
</section>

<section class="section wcp">
    <div class="uk-container uk-container-center">
        <div class="uk-slidenav-position" data-uk-slideset="{default: 1}">
            <h2 class="section__title uk-text-center">Сравните и оцените преимущества <br> Kampfer Helena (Wall)</h2>
            <ul class="uk-slideset">
                <li class="inline-boxes">
                    <div>
                        <div class="uk-clearfix">
                            <img src="images/wcp-img-1.png" alt="">
                            <p class="section__text_title">Kampfer <br> Helena (Wall)</p>
                        </div>
                        <div class="uk-text-left inner">
                            <ul class="uk-list">
                                <li>
                                    <small>Внешний вид</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>Хорошо вписывается
                                        в интерьер квартиры</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Компактность</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>Не занимает много места</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Крепление</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>6</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Комплектация</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>Все, что нужно для
                                        хорошо спортивного
                                        развития ребенка</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="uk-clearfix">
                            <img src="images/wcp-img-2.png" alt="">
                            <p class="section__text_title">Среднестатистический <br> 4-х опорный комплекс</p>
                        </div>
                        <div class="uk-text-left inner">
                            <ul class="uk-list">
                                <li>
                                    <small>Внешний вид</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>Больше подходит для
                                        тренажерного зала</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Компактность</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>Значительно выступает вперед</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Крепление</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>4</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Комплектация</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>Нет каната</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="inline-boxes">
                    <div>
                        <div class="uk-clearfix">
                            <img src="images/wcp-img-1.png" alt="">
                            <p class="section__text_title">Kampfer <br> Helena (Wall)</p>
                        </div>
                        <div class="uk-text-left inner">
                            <ul class="uk-list">
                                <li>
                                    <small>Внешний вид</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>Хорошо вписывается
                                        в интерьер квартиры</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Компактность</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>Не занимает много места</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Крепление</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>6</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Комплектация</small>
                                    <p>
                                        <i class="fri fri-plus"></i>
                                        <span>Все, что нужно для
                                        хорошо спортивного
                                        развития ребенка</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="uk-clearfix">
                            <img src="images/wcp-img-2.png" alt="">
                            <p class="section__text_title">Среднестатистический <br> 4-х опорный комплекс</p>
                        </div>
                        <div class="uk-text-left inner">
                            <ul class="uk-list">
                                <li>
                                    <small>Внешний вид</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>Больше подходит для
                                        тренажерного зала</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Компактность</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>Значительно выступает вперед</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Крепление</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>4</span>
                                    </p>
                                </li>
                                <li>
                                    <small>Комплектация</small>
                                    <p>
                                        <i class="fri fri-minus"></i>
                                        <span>Нет каната</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
        </div>
    </div>
</section>

<section class="section wr">
    <div class="uk-container uk-container-center">
        <div class="uk-slidenav-position" data-uk-slideset="{default: 1}">
            <h2 class="section__title uk-text-center">отзывы наших клиентов</h2>
            <ul class="uk-list uk-slideset">
                <li>
                    <p>Около месяца назад я озадачился приобретением подарка для очень близкой для меня женщины. Зная её вкусы, потребности, довольно преклонный возраст и непреодолимую тягу к сокам, решил, что необходимо подарить что-то из товаров для дома, для кухни. С помощью менеджера Умяровой Дарьи была подобрана и куплена соковыжималка Juice Master от которой её новая хозяйка в невероятном восторге. Всё это говорит о высоком профессионализме Умяровой Дарьи как менеджера и просто как о добром человеке, умеющем работать с клиентами. Желаю Дарье дальнейшего продвижения по выбранной стезе. Большое спасибо Администрации магазина и персонально Дарье !</p>
                    <a href="#" class="--text-blue">Светлана Хорева</a>
                </li>
                <li>
                    <p>Около месяца назад я озадачился приобретением подарка для очень близкой для меня женщины. Зная её вкусы, потребности, довольно преклонный возраст и непреодолимую тягу к сокам, решил, что необходимо подарить что-то из товаров для дома, для кухни. С помощью менеджера Умяровой Дарьи была подобрана и куплена соковыжималка Juice Master от которой её новая хозяйка в невероятном восторге. Всё это говорит о высоком профессионализме Умяровой Дарьи как менеджера и просто как о добром человеке, умеющем работать с клиентами. Желаю Дарье дальнейшего продвижения по выбранной стезе. Большое спасибо Администрации магазина и персонально Дарье !</p>
                    <a href="#" class="--text-blue">Светлана Хорева</a>
                </li>
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
        </div>
    </div>
</section>

<section class="section wss-wrap">
    <div class="uk-container uk-container-center">
        <div class="wss">
            <div class="inline-boxes uk-text-center">
                <div>
                    <small>Продали уже</small>
                    <p>87</p>
                    <span>комплексов</span>
                </div>
                <div>
                    <small>Установили уже</small>
                    <p>62</p>
                    <span>комплекса</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section wg-wrap">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-small-1-1 uk-width-medium-3-5">
                <h2 class="section__title"><span class="--text-blue">Даем высокую гарантию – 2 года</span></h2>
                <p class="section__text">Вы можете вернуть товар в течение 14 дней, если в момент доставки или сборки обнаружите в нем недостатки или дефекты.  В таком случае вы полностью вернем вам деньги или по вашему желанию заменим товар на аналогичный.</p>
                <p class="section__text">Если в течение 2 лет какой-либо элемент конструкции выйдет из строя, мы бесплатно его заменим, отремонтируем комплекс за свой счет.</p>
                <div class="attention-block">
                    <strong>Внимание!</strong><br>
                    Гарантия действует при условии правильной эксплуатации. Во избежание недоразумений, пожалуйста, внимательно ознакомьтесь с инструкцией по его эксплуатации
                </div>
            </div>
            <div></div>
        </div>
    </div>
</section>

<section class="section wk-wrap">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse uk-grid-width-small-1-1 uk-grid-width-medium-1-2">
            <div></div>
            <div>
                <h2 class="section__title"><span class="--text-blue">Все под ключ! Сами доставим и соберем</span></h2>
                <p class="section__text">Детский спортивный комплекс Kampfer Helena (Wall) поставляется в двух коробках, которые можно перевезти самостоятельно. <span class="--text-orange">Однако длина одной из коробок составляет 242 см.</span> Она может не поместиться в салон вашего автомобиля. Поэтому мы предлагаем вам услугу доставки.</p>
                <p class="section__text">К комплексу прилагается подробная схема и инструкция по сборке. Поэтому его несложно собрать и установить собственными силами. Но это может занять несколько часов и потребовtать использования специального инструмента. Мы готовы сделать это за вас.</p>
            </div>
        </div>
    </div>
</section>

<section class="section temp-margin">
    <div class="uk-container uk-container-center">
        <h2 class="section__title uk-text-center">Выберите подходящий вариант</h2>
        <div class="uk-grid uk-grid-large uk-grid-width-small-1-1 uk-grid-width-medium-1-3" data-grid-margin>
            <div class="uk-text-center">
                <article class="choose-one-article">
                    <div class="choose-one-article__inner">
                        <img src="images/article-img-1.png" alt="">
                        <h4 class="choose-one-article__title">Kampfer Helena (Wall)</h4>
                        <p class="choose-one-article__price">10 270 <span>РУБ.</span></p>
                        <div><a href="#" class="uk-button uk-button-primary">КУПИТЬ</a></div>
                        <div><a href="#" class="choose-one-article__title_footer">Стоимость доставки и сборки</a></div>
                    </div>
                    <div class="ca-triangle-wrap"><div class="ca-triangle"></div></div>
                </article>
            </div>
            <div class="uk-text-center">
                <article class="choose-one-article">
                    <div class="choose-one-article__inner">
                        <img src="images/article-img-2.png" alt="">
                        <h4 class="choose-one-article__title">Kampfer Helena (Wall)</h4>
                        <p><i class="fri fri-plus"></i></p>
                        <div>
                            <img src="images/mat.png" alt="">
                            <h4 class="choose-one-article__title">Складной мат Kampfer <span>(150 х 100 х 10)</span></h4>
                            <ul class="uk-list uk-text-left">
                                <li>•  Необходимый аксессуар. Обеспечит дополнительную безопасность ребенка. Защитит его от ссадин, ушибов и других травм.</li>
                                <li>•  Экологически чистый материал. Изготовлен из экологически чистой винилискожи. Не имеет «синтетического» запаха, не вызывает аллергии.</li>
                                <li>•  Отличается прочностью. Долго сохраняет презентабельный вид, не выцветает, не трескается и не лопается.</li>
                                <li>•  Можно использовать самостоятельно. Можно использовать не только для занятий на спортивном комплексе, но и в качестве своего рода напольного покрытия.</li>
                                <li>•  Компактный. В сложенном виде занимает мало места.</li>
                            </ul>
                        </div>
                        <p class="choose-one-article__price">13 530 <span>РУБ.</span></p>
                        <div><a href="#" class="uk-button uk-button-primary">КУПИТЬ</a></div>
                        <div><a href="#" class="choose-one-article__title_footer">Стоимость доставки и сборки</a></div>
                    </div>
                    <div class="ca-triangle-wrap"><div class="ca-triangle"></div></div>
                </article>
            </div>
            <div class="uk-text-center">
                <article class="choose-one-article">
                    <div class="choose-one-article__inner">
                        <img src="images/article-img-3.png" alt="">
                        <h4 class="choose-one-article__title">Kampfer Helena (Wall)</h4>
                        <p><i class="fri fri-plus"></i></p>
                        <div>
                            <img src="images/mat.png" alt="">
                            <h4 class="choose-one-article__title">Складной мат Kampfer <span>(150 х 100 х 10)</span></h4>
                        </div>
                        <p><i class="fri fri-plus"></i></p>
                        <div>
                            <img src="images/wood.png" alt="">
                            <h4>Навесной тренажер для спины <span>Kampfer Posture 1 (Wall)</span></h4>
                        </div>
                        <p class="choose-one-article__price">16 780 <span>РУБ.</span></p>
                        <div><a href="#" class="uk-button uk-button-primary">КУПИТЬ</a></div>
                        <div><a href="#" class="choose-one-article__title_footer">Стоимость доставки и сборки</a></div>
                    </div>
                    <div class="ca-triangle-wrap"><div class="ca-triangle"></div></div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}