<footer class="b_footer">
    <div class="b_footer__top">
        <div class="uk-container uk-container-center">
            <div class="b_footer__circles">
                <div class="b_footer__circles_circle --bg-green">
                    <span class="--text-white">
                        <strong>Наш адрес: <br><br>
                        м. Тульская,  <br>
                        Холодильный пер., 3, <br></strong>
                        ТЦ Ролл Холл, <br>
                        пав. 119-120</span>
                </div>
                <div class="b_footer__circles_circle --bg-blue">
                    <span class="--text-white">Время работы: <br>с 10:00 до 22:00</span>
                </div>
            </div>
            <div class="b_footer__infos">
                <a href="tel:8-800-707-98-97" class="b_footer__infos_phone">8-800-707-98-97</a>
                <a href="#" class="uk-button uk-button-primary">СВЯЗАТЬСЯ С НАМИ</a>
            </div>
        </div>
    </div>
    <div class="b_footer__bottom">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-large" data-uk-grid-margin="">
                <div class="uk-width-small-1-1 uk-width-medium-2-5">
                    <p class="--text-white">ООО «Компания» <br>ИНН 7729556840, ОГРН 5067746739540</p>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-2-5">
                    <a href="#"class="--text-white">Вернуться в начало страницы</a>
                </div>
                <div class="uk-text-right uk-width-small-1-1 uk-width-medium-1-5">
                    <p class="--text-white">Разработка —</p>
                </div>
            </div>
        </div>
    </div>
</footer>