<header class="main-header" id="main-header">
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar">
            <a href="#" class="uk-navbar-brand logo"><img src="images/logo-header.png" alt=""></a>
            <div class="uk-navbar-content">Домашний спортивный комплекс Kampfer Helena Wall</div>
            <div class="uk-navbar-content uk-navbar-flip">
                <a href="#contact-us" class="uk-button uk-button-primary" data-uk-modal>Заказать звонок</a>
            </div>
        </nav>
    </div>
</header>
<section class="b_akcyi">
    <div class="uk-container uk-container-center">
        <div class="b_akcyi_content"><p class="--text-white">АКЦИЯ! Только до 22 октября первым дозвонившимся – Kampfer Helena по спец. условиям!</p></div>
        <div class="b_akcyi_button"><a href="#contact-us" class="uk-button" data-uk-modal>Заказать звонок</a></div>
    </div>
</section>
