<header class="main-header" id="main-header">
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar">
            <a href="#" class="uk-navbar-brand logo"><img src="images/logo-header.png" alt=""></a>
            <div class="uk-navbar-content">Домашний спортивный комплекс Kampfer Helena Wall</div>
            <div class="uk-navbar-content uk-navbar-flip">
                <a href="#" class="uk-button uk-button-primary">Заказать звонок</a>
            </div>
        </nav>
    </div>
</header>